@import "mq";
// @import "./node_modules/sass_mq/mq";

$ptb-highlight-color: rgb(171, 103, 0);
$ptb-background-highlight-color: darkorange;
$ptb-secondary-background-color: #f6f6f6;
$ptb-primary-text-color: #342825;
$ptb-secondary-text-color: rgb(94, 94, 94);

@mixin ptb-link-styling() {
  color: $ptb-primary-text-color;
  text-decoration-color: $ptb-primary-text-color;
  text-decoration-line: $ptb-primary-text-color;
  text-decoration-style: $ptb-primary-text-color;
}

@mixin ptb-secondary-text-styling() {
  color: $ptb-secondary-text-color;
  font-size: 1rem;
}

.ptb__body {
  font-family: "Squada One", sans-serif;
  margin: 0;
  min-width: 320px;
}

.ptb__header {
  display: flex;
  justify-content: center;
}

.ptb__title {
  color: $ptb-highlight-color;

  font-size: 22px;

  @include mq($from: tablet) {
    font-size: 32px;
  }
}

.ptb__secton-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ptb__section-title-text {
  text-align: center;
  font-size: 36px;
  color: $ptb-highlight-color;
}

.ptb__promo {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.ptb__promo-image-container {
  flex-basis: 100%;
}

.ptb__promo-image {
  max-width: 100%;
}

.ptb__promo-message {
  position: relative;
  bottom: 10px;
  flex-basis: 100%;
  background-color: $ptb-background-highlight-color;

  @include mq($from: tablet) {
    margin-bottom: 3px;
    bottom: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.ptb__promo-message-title {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

.ptb__promo-message-number {
  text-align: center;
}

.ptb__promo-message-link {
  @include ptb-link-styling();
}

.ptb__promo-message-email {
  text-align: center;
}

.ptb__about-us {
  display: flex;
  flex-direction: column;
  min-height: 275px;
  justify-content: space-evenly;
  align-items: center;
}

.ptb__about-us-title {
  text-align: center;
}

.ptb__about-us-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 48px;
}

.ptb__about-us-text-heading {
  font-size: 25px;
  margin-top: 0px;
}

.ptb__about-us-text {
  @include ptb-secondary-text-styling();
}

.ptb__about-us-section {
  display: flex;
  margin-bottom: 24px;

  @include mq($from: tablet) {
    flex: 1;
  }
}

.ptb__training-session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.ptb__training-session {
  flex: 1;
  text-align: center;
  @include ptb-secondary-text-styling();
}

.ptb__training-session-title {
  color: $ptb-primary-text-color;
}

.ptb__training-session-link {
  color: $ptb-background-highlight-color;
}

.ptb__classes {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: $ptb-secondary-background-color;
}

.ptb__locations {
  background: $ptb-secondary-background-color;
}

.ptb__locations-title {
  font-size: 22px;
}

.ptb__locations-maps {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.ptb__location-map {
  @include mq($from: tablet) {
    flex-basis: 50%;
  }
}

.ptb__google-map-1 {
  width: 100%;
  height: 330px;
}

.ptb__google-map-2 {
  width: 100%;
  height: 330px;
}
