<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
</head>

<body class="ptb__body">
    <header class="ptb__header">
        <h1 class="ptb__title">PRESTON GLADIATORS THAI BOXING</h1>
    </header>
    <div class="ptb__promo">
        <div class=ptb__promo-image-container>
            <img class="ptb__promo-image" src="/images/gallery_img_8.jpg">
        </div>
        <div class="ptb__promo-message">
            <h1 class="ptb__promo-message-title">Welcome to Preston Gladiators Thai Boxing</h1>
            <h2 class="ptb__promo-message-number">07792 817712‬</h2>
            <h3 class="ptb__promo-message-email">shaks***REMOVED***@gmail.com</h3>
        </div>
    </div>
    <div class="ptb__about-us">
        <div class="ptb__about-us-1">
            <div class="ptb__about-img-1">
                <!-- place another edited/optimized image here -->
            </div>
            <div class="ptb__about-text-1">
                <span>
                    We currently host a number of classes tailored towards adults. We are always looking for new students, so feel free to stop
                    by and if you have any concerns at all, don't be afraid to get in touch!
                </span>
            </div>
        </div>
        <div class="ptb__about-us-2">
            <div class="ptb__about-img-2">
                <!-- place another edited/optimized image here -->
            </div>
            <div class="ptb__about-text-2">
                <span>
                    Classes are around 1 hour and 30 minutes (or 2 hours for Wednesday classes) and cost £6 per class.
                </span>
            </div>
        </div>
        <div class="ptb__about-us-3">
            <div class="ptb__about-img-3">
                <!-- place another edited/optimized image here -->
            </div>
            <div class="ptb__about-text-3">
                <span>
                    Currently instructing our 'Gladiator Camp' classes we have the head instructor, Kru Shakeel ***REMOVED*** as well as Neil Gouldthorpe and James Harrison.
                    Between them, the instructors share many years of experience in Muay Thai, as well as various other martial
                    arts!
                </span>
            </div>
        </div>
    </div>
    </div>
    <!-- add image slide for gallery photos here -->
    <div class="ptb__classes">
        <div class="ptb__classes-title">
            <h1 class="ptb__classes-title-text">OUR CLASSES</h1>
        </div>
        <div class="ptb__classes-details">
            <div class="ptb__"></div>
            <div class="ptb__training-sessions">
                <div class="ptb__training-session-1">
                    <h1 class="ptb__training-session-1-title">Tuesdays</h1>
                    <div class="ptb__training-session-1-details">
                        <span class="ptb__training-session-1-time">7:00PM to 8:30PM</span>
                        <!-- add link to below span to bottom of page -->
                        <span class="ptb__training-session-1-location">Oyston Mill</span>
                    </div>
                </div>
                <div class="ptb__training-session-2">
                    <h1 class="ptb__training-session-2-title">Fridays</h1>
                    <div class="ptb__training-session-2-details">
                        <span class="ptb__training-session-2-time">7:00PM to 9:00PM</span>
                        <!-- add link to below span to bottom of page -->
                        <span class="ptb__training-session-2-location">Fighting Fit Gym</span>
                    </div>
                </div>
                <div class="ptb__training-session-3">
                    <h1 class="ptb__training-session-2-title">Sundays</h1>
                    <span class="ptb__training-session-3-time">7:00PM to 9:00PM</span>
                    <!-- add link to below span to bottom of page -->
                    <span class="ptb__training-session-3-location">Oyston Mill</span>
                </div>
            </div>
        </div>
    </div>
    <div class="ptb__locations">
        <h1 class="ptb__locations-title">OUR LOCATIONS</h1>
        <div class="ptb__location-1-oyston-mill">
            <iframe class="ptb__google-map-1" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtoGLhLc7zMY6gFWGimx2NDwrVNTf_syA
              &q=Preston Thai Boxing Club, Oyston Mill, Preston" allowfullscreen>
            </iframe>
        </div>
        <div class="ptb__location-2-fighting-fit-gym">
            <iframe class="ptb__google-map-2" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtoGLhLc7zMY6gFWGimx2NDwrVNTf_syA
            &q=Fighting Fit Gym, Preston" allowfullscreen>
            </iframe>
        </div>
</body>

</html>