<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
</head>

<body class="ptb__body">
    <header class="ptb__header">
        <h1 class="ptb__title">Preston Thai Boxing</h1>
    </header>
    <div class="ptb__promo">
        <div class=ptb__promo-image-container>
            <img class="ptb__promo-image" src="/images/gallery_img_7.jpg">
        </div>
        <div class="ptb__promo-message">
            <h1>Welcome to Preston Thai Boxing</h1>
        </div>
    </div>
</body>

</html>